<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body {background-color: powderblue;}
h3   {color: rgb(51, 59, 12);}
</style>
    <title>Document</title>
    
</head>
<body>
    <h3><u>Product Management Api Description:</u></h3><br>
    <i>**Load the python application file to run the Flask server as your localhost.</i>
    <h4>Follow the listed  Api endpoints to get desired response:</h4>
    <div>
        <p>1.Add a product - <span style="color: blue;">/product </span></p> 
        <p>2.Get all products - <span style="color: blue;">/getProduct </span></p> 
        <p> 3.Get the desired product by id - <span style="color: blue;">/getProduct/&lt;id&gt;</span></p>
        <p> 4.Update a product - <span style="color:blue;">/updateProduct/&lt;id&gt; </span></p>
        <p>5.Delete a product - <span style="color: blue;">/deleteProduct/&lt;id&gt; </span></p> 
    </div>
</body>
</html>